* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  .clr {
    clear: both;
  }
  
  .sticky-header{
      position: sticky;
      top: 0px;
      background-color: gray;
      padding: 10px;
  }
  .sticky-header ul{
    margin-left: 40px;
  }


  .sticky-header ul li{
      display: inline;
  }

  .sticky-header ul li a{ 
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
  
.main-section{
    float: left;
    width: 80%;
    background-color: #f1f1f1;
    box-sizing: border-box;
}  
  
  article {
    padding: 20px;
    height: 400px; /* only for demonstration, should be removed */
    border: 1px solid red;
  }
  
  /* Clear floats after the columns */
  /*section::after {
    content: "";
    display: table;
    clear: both;
  }*/

  .sidebar{
      float: right;
      width: 20%;
      background-color: #f1f1f1;
      box-sizing: border-box;
      position: sticky;
      top: 40px;
      right: 0;
      bottom: 0;
      overflow: scroll;
      height: 200px;
      border: 1px solid yellow;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }